



<pre>
{{ lastLogEntry }}
</pre>


<div class="btn-group dropdown"  dropdown-append-to-body>
    <button id="btn-append-to-body" type="button" class="btn btn-primary dropdown-toggle">
        Dropdown on Body <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
    </ul>
</div>

