

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <div ng-controller="SearchCtrl" id="search-wrapper">
                <div ng-include="'/app/components/partials/search/search.view.html'" />
            </div>
            
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->    
    <div ng-show="initialized && (weatherData == null || (weatherData.Locale == null && weatherData.CurrentWeather == null))" class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <p>
                            Well this is embarassing.  For me, obviously.  You have found your way to the fail-safe
                            error check.  There's absolutely no data to display.  Perhaps try another location in the
                            search bar above or from the previous locations dropdown in the footer.  For your troubles,
                            here are some puppies:
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img src="/assets/img/puppies.jpg" border="0" width="200" height="143" />
                    </div>                        
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="weatherData == null || (weatherData.Locale == null && weatherData.CurrentWeather == null)" class="row">
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Current Conditions</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="jumbotron current-conditions">
                                        <div class="row">
                                            <div class="col-sm-7 col-xs-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <h3><span>{{ weatherData.Locale.city }}</span><span ng-hide="!weatherData.Locale.zip"> - {{ weatherData.Locale.zip }}</span></h3>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center"><img ng-hide="!weatherData.CurrentWeather.weather.icon" src="http://openweathermap.org/img/w/{{ weatherData.CurrentWeather.weather.icon }}.png" border="0" /><i ng-hide="weatherData.CurrentWeather.weather.icon" class="fa fa-question fa-5x" aria-hidden="true"></i></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <span ng-hide="!weatherData.CurrentWeather.main.temperature" class="temperature">{{ weatherData.CurrentWeather.main.temperature }}&deg; {{ weatherData.CurrentWeather.main.temperatureUnits }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <span ng-hide="!weatherData.CurrentWeather.weather.description" class="description">{{ weatherData.CurrentWeather.weather.description}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <small ng-hide="!weatherData.CurrentWeather.timestamp" class="lastUpdated">as of {{ weatherData.CurrentWeather.timestamp * 1000 | date:'shortTime' }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-10">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h4>Details</h4>
                                                        <span ng-hide="!weatherData.CurrentWeather.main.humidity" class="detail">Humidity: {{ weatherData.CurrentWeather.main.humidity }}%</span><br />
                                                        <span ng-hide="!weatherData.CurrentWeather.wind.speed">Wind: {{ weatherData.CurrentWeather.wind.direction }} {{ weatherData.CurrentWeather.wind.speed }} mph</span><br />
                                                        <span ng-hide="!weatherData.CurrentWeather.clouds" class="detail">Cloudiness: {{ weatherData.CurrentWeather.clouds }}%</span><br />
                                                        <span ng-hide="!weatherData.CurrentWeather.rain" class="detail">Rain (Last 3 Hours): {{ weatherData.CurrentWeather.rain }}</span><br />
                                                        <span ng-hide="!weatherData.CurrentWeather.snow" class="detail">Snow (Last 3 Hours): {{ weatherData.CurrentWeather.snow }}</span><br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row next-12-hours">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Next 12 hours</h4>
                        </div>
                    </div>
                    <div ng-show="weatherData.ImmediateForecast == null" class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-warning text-center">The 12 hour forecast is currently unavailable.</div>
                        </div>
                    </div>
                    <div ng-show="weatherData.ImmediateForecast != null" class="row">
                        <div ng-repeat="forecast in weatherData.ImmediateForecast" class="col-xs-3 next-12-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h6>{{ forecast.timestamp * 1000 | date:'shortTime' }}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center"><img ng-hide="!forecast.weather.icon" src="{{ forecast.weather.icon }}" border="0" /><i ng-hide="forecast.weather.icon" class="fa fa-question" aria-hidden="true"></i></div>                                        
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <span ng-hide="!forecast.main.temperature" class="temperature">{{forecast.main.temperature }}&deg; {{ forecast.main.temperatureUnits }}</span>                                        
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Forecast</h4>
                </div>
            </div>
            <div ng-show="weatherData.Forecast == null" class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning text-center">The forecast is currently unavailable.</div>
                </div>
            </div>
            <div ng-show="weatherData.Forecast != null" ng-repeat="forecast in weatherData.Forecast" class="row">
                <div class="col-md-12">
                    <div class="panel panel-default forecast-item">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-5"><span ng-hide="!forecast.timestamp" >{{ forecast.timestamp * 1000 | date:'shortTime' }}Fri<br />3/10</span></div>
                                <div class="col-xs-4"><span class="forecast-temperature">29 | 16 F</span></div>                                
                                <div class="col-xs-3"><img ng-hide="!forecast.weather.icon" src="{{ forecast.weather.icon }}" border="0" /><i ng-hide="forecast.weather.icon" class="fa fa-question" aria-hidden="true"></i></div>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div ng-controller="FooterCtrl" id="footer">
        <div ng-include="'/app/components/partials/footer/footer.view.html'" />
    </div>
</div> <!-- .container -->
