<form name="search" on-search-submit="searchForLocation(search)" novalidate>
    <div class="input-group" ng-class="{'has-error': search.$submitted && search.query.$invalid}">
        <span class="input-group-addon"><i class="fa fa-search aria-hidden="true"></i></span>
        <input is-valid-search-input class="form-control" name="query" ng-model="searchData.query" type="text" placeholder="Enter a zip code or city">        
    </div>
    <div class="search-error alert alert-danger" ng-show="search.$submitted && search.query.$error.isValidSearchInput">Invalid search value - zip codes should be 5 digits and cities cannot contain numbers</div>    
</form>